.campaign-page-container {
    margin: 32px 64px 0 64px;;
}

.campaign-page-container .campaign-page-header {
    margin: auto auto 64px auto;
    width: 100%;
    box-shadow: 0 1px 5px 1px rgba(134, 134, 136, 0.35);
}

.campaign-page-container .campaign-list {
    margin-bottom: 64px;
    background-color: white;
    box-shadow: 0 1px 5px 1px rgba(134, 134, 136, 0.35);
}

.campaign-page-container .campaign-list .ant-pagination {
    padding: 0 8px 8px 0;
}

.campaign-page-container .campaign-list .campaign-list-item {
    transition: box-shadow linear 150ms;
    padding: 16px;
}

.campaign-page-container .campaign-list .campaign-list-item:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    cursor: pointer;
}
