.dashboard-page-container {
    margin: 32px 64px 0 64px;
    padding-bottom: 32px;
    background-color: transparent;
}

.chart-container {
    background-color: white;
    display: flex;
    margin: 32px 0;
    box-shadow: 0 1px 5px 1px rgba(134, 134, 136, 0.35);
}

.dashboard-header {
    box-shadow: 0 1px 5px 1px rgba(134, 134, 136, 0.35);
}