.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    border-right: 1px solid #e8e8e8;
    height: 100vh;
    position: fixed;
    background-color: #292929;
    color: white;
}

.navbar-container .ant-layout-sider-trigger {
    color: white;
    border-right: 1px solid #e8e8e8;
    background-color: inherit;
    transition: all 0.2s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.navbar-container .ant-layout-sider-trigger {
    color: white;
    background-color: #17457d;
}

.content-container {
    background-color: #f0f2f5;
    margin-left: 200px;
}

.content-container-extended {
    margin-left: 80px;
}

@media screen and (max-width: 1256px) {
    .page-container {
        margin: 0 32px;
        background: white;
    }
}

@media screen and (min-width: 1256px) {
    .page-container {
        padding: 0 32px;
        background: white;
    }
}

.floating-button {
    position: fixed;
    right: 16px;
    bottom: 100px;
    box-shadow: 0 4px 10px rgba(47, 51, 56, 0.35);
}