@import 'styles/colors';

.appWrapper {
    .layout {
        display: flex;
        flex-flow: row nowrap;
        height: 100vh;

        .appContainer {
            display: flex;
            flex-direction: column;
            overflow: auto;
            width: 100%;

            .contentContainer {
                background-color: #f0f2f5;
                flex: 1;
                align-self: stretch;
            }

            .footer {
                background: white;
                text-align: center;
                padding: 24px;
            }
        }
    }
}
