.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    border-right: 1px solid #e8e8e8;
    height: 100vh;
    position: fixed;
}

.navbar-container .ant-layout-sider-trigger {
    border-right: 1px solid #e8e8e8;
}

.content-container {
    background-color: #f0f2f5;
    margin-left: 200px;
}

.content-container-extended {
    margin-left: 80px;
}

@media screen and (max-width: 1256px) {
    .page-container {
        margin: 0 32px;
        background: white;
    }
}

@media screen and (min-width: 1256px) {
    .page-container {
        padding: 0 32px;
        background: white;
    }
}