.navbar-menu {
    background: #292929;
    max-height:100%;
    overflow-y: auto;
}

.navbar-menu .logout-button {
    color: white;
}

.navbar-menu .ant-menu-item a {
    color: white;
}

.navbar-menu .ant-menu-item-selected,
.navbar-menu .ant-menu-item-active:active
{
    background-color: #C7E0FF !important;
}

.navbar-menu .ant-menu-item-selected::after {
    display: none;
}

.navbar-menu .ant-menu-item a:hover,
.navbar-menu .ant-menu-item-active a:hover,
.navbar-menu .ant-menu-item-selected a,
.navbar-menu .logout-button:hover,
.navbar-submenu-popup .ant-menu-item-selected a
{
    color: #2E8CFF;
}

.navbar-menu .navbar-menu-item {
    margin-top: 32px;
}

.navbar-menu .navbar-submenu {
    margin-top: 32px;
    color: white;
}

.navbar-menu .navbar-submenu .ant-menu-sub,
.navbar-submenu-popup ul
{
    background: #292929 !important;
}

.navbar-submenu-popup a {
    color: white;
}

.collapsed-logo {
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

.navbar-logo {
    padding: 1% 0;
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.navbar-logo > img {
    height: 48px;
    cursor: pointer;
    text-align: center;
    margin: 16px 8% 16px 0;
}

.navbar-logo .lecourt-title {
    margin-left: 2%;
    font-size: 1em;
    font-weight: 700;
}

.collapsed-logo > img {
    height: 48px;
    cursor: pointer;
    text-align: center;
}

.collapsed-logo .lecourt-title {
    margin-left: 2%;
    font-size: 1em;
    font-weight: 700;
}

.not-collapsed {
    border: none;
}
