.auth-container {
    display: flex;
    height: 100vh;
}

.left-auth-container {
    background-image: -webkit-linear-gradient(30deg, #263A54 50%, rgb(50, 83, 126) 50%);
}

@media screen and (min-width: 1250px) {
    .left-auth-container {
        flex: 4; 
    }
}

@media screen and (max-width: 1250px) {
    .left-auth-container {
        flex: 2; 
    }
}


@media screen and (max-width: 1250px) {
    .left-auth-container {
        flex: 2; 
    }
}

@media screen and (max-width: 720px) {
    .left-auth-container {
        flex: 0;
    }
}

.right-auth-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292929;
}

.right-auth-container img {
    display: block;
    width: 40%;
    height: auto;
    margin: 5%;
}

.right-auth-container .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding-top: 32px;
    background-color: #292929;
    color: white;
    text-align: center;
    width: 100%;
}

.auth-form-container {
    width: 70%;
}

.auth-form-item {
    margin-bottom: 1%;
    width: 100%;
    text-align: left;
}

.auth-form-item .ant-form-item-label label {
    color: white;
}

.auth-form .auth-form-button {
    margin: 3vh 0 3vh 0;
}

.auth-form-title {
    color: white !important;
}