.homepage-page-container {
    margin: 32px 64px 0 64px;;
    padding-bottom: 32px;
    background-color: transparent;
}

.chart-container {
    background-color: white;
    display: flex;
    margin: 32px 0;
}