.homepage-page-container {
    margin: 32px 64px;
    padding-bottom: 32px;
    box-shadow: 0 4px 20px 1px rgba(47, 51, 56, 0.35);
}

.homepage-carousel {
    text-align: center;
    max-height: 640px;
    overflow: hidden;
}

.homepage-page-content {
    min-height: 1500px;
    background: pink;
}

.movies-carousel {
    overflow: hidden;
    width: 90%;
    margin: auto;
}

.movie-posters-carousel .movie-poster {
    border-right: 5px solid white;
}

.movie-posters-carousel {
    display: flex !important;
    align-items: center;
}

.movie-poster.anticon-arrow-left {
    margin-right: 10px;
}

.movie-poster.anticon-arrow-right {
    margin-left: 10px;
}
